* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  height: 100vh;
}

/*Nav section*/
nav {
  height: 820px;
  width: auto;
}

.banner-container {
  background-image: url(/images/banner-img.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.banner-container img {
  width: 324px;
  margin: 20px;
}
.banner-container h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 3;
}
.banner-container .scroll {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 100px;
}
.banner-container .scroll i {
  cursor: pointer;
}

.form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form .input-field {
  width: 503px;
  height: 53px;
  text-align: center;
  border: none;
  font-family: "Aleo", serif;
}
.form button {
  width: 153px;
  color: black;
  background-color: #5474FD;
  color: #fff;
  font-family: "Aleo", serif;
  border: 1px solid #fff;
}
.form button:hover {
  background-color: #041561;
  color: #5474FD;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar {
  background-color: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 83px;
}
.navbar .nav-links li {
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  gap: 20px;
}
.navbar .nav-links li a {
  text-decoration: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

/*Who we are section */
.who-we-are {
  background-image: url(/images/who-we-are-img.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 685px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.container .text-block {
  width: 30%;
}
.container .text-block h3 {
  font-family: "Aleo", serif;
  padding-bottom: 20px;
}
.container .text-block p {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
.container .text-block .main-btn {
  background-color: #5474FD;
  color: #fff;
  border: none;
  width: 228px;
  height: 63px;
  margin-top: 50px;
}
.container .text-block .main-btn:hover {
  background-color: #041561;
  color: #5474FD;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 40%;
}
.img-container .img-top {
  float: left;
}
.img-container .img-bottom {
  float: right;
}

/*Fonts


.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.aleo {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*/